{{ define "main" }}
<div class="projects-list-container">
    <h1>{{ .Title }}</h1>
    <div class="project-cards">
        {{ range .Pages }}
        <article class="project-card">
            <h2 class="project-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{ with .Description }}
            <p class="project-description">{{ . }}</p>
            {{ end }}
            <a href="{{ .RelPermalink }}" class="view-details-link button button--primary">{{ i18n "ViewDetails" | default "View details" }}</a>
        </article>
        {{ end }}
    </div>

    {{ partial "backlink.html" . }}
</div>

<div class="project-visuals">
    {{ partial "gantt.html" . }}
    {{ partial "task-table.html" . }}
</div>
{{ end }}
