{{ define "main" }}
{{ $start := time .Params.start }}
{{ $end := time .Params.end }}
{{ $days := add 1 (div (sub ($end.Unix) ($start.Unix)) 86400) }}
<div class="card task-details" id="task-details">
  <div class="task-details-header">
    <h1 class="task-details-title">{{ .Title }}</h1>
    <div class="task-details-meta">
      <span class="status status-{{ if eq .Params.status "completed" }}completed{{ else if eq .Params.status "in-progress"
        }}in-progress{{ else }}not-started{{ end }}">
        {{ if eq .Params.status "completed" }}{{ i18n "taskCompleted" }}{{ else if eq .Params.status "in-progress" }}{{ i18n "taskInProgress" }}{{ else }}{{ i18n "taskNotStarted" }}{{ end }}
      </span>
      <span class="priority priority-{{ lower .Params.priority }}">
        {{ if eq .Params.priority "High" }}{{ i18n "priorityHigh" }}{{ else if eq .Params.priority "Medium" }}{{ i18n "priorityMedium" }}{{ else }}{{ i18n "priorityLow" }}{{ end }}
      </span>
    </div>
  </div>
  <div class="task-details-info">
    <div class="task-details-item">
      <div class="task-details-label">{{ i18n "Start" }}</div>
      <div class="task-details-value">{{ (time .Params.start).Format (i18n "dateFormat") }}</div>
    </div>
    <div class="task-details-item">
      <div class="task-details-label">{{ i18n "End" }}</div>
      <div class="task-details-value">{{ (time .Params.end).Format (i18n "dateFormat") }}</div>
    </div>
    <div class="task-details-item">
      <div class="task-details-label">{{ i18n "Period" }}</div>
      <div class="task-details-value">{{ $days }}{{ i18n "Days"}}</div>
    </div>
    <div class="task-details-item">
      <div class="task-details-label">{{ i18n "PIC" }}</div>
      <div class="task-details-value">{{ .Params.assignee }}</div>
    </div>
    <div class="task-details-item">
      <div class="task-details-label">{{ i18n "LastUpdated" }}</div>
      <div class="task-details-value">
        {{ with .Params.lastmod }}
          {{ . | time.Format (i18n "dateFormat") }}
        {{ else }}
          {{ .Lastmod.Format (i18n "dateFormat") }}
        {{ end }}
      </div>
    </div>
    {{ with .Params.tags }}
    <div class="task-details-item tags">
      <div class="task-details-label">{{ i18n "Tags" }}</div>
      <div class="task-details-value">
        {{ range $index, $tag := . }}
          {{ if $index }}, {{ end }}<span class="tag">{{ $tag }}</span>
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ with .Params.parent }}
    {{ $parent := $.CurrentSection.GetPage . }}
    <div class="task-details-item">
      <div class="task-details-label">{{ i18n "ParentTask" }}</div>
      <div class="task-details-value">
        {{ if $parent }}
          <a href="{{ $parent.RelPermalink }}">{{ $parent.Title }}</a>
        {{ else }}
          {{ . }}
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ $children := where $.CurrentSection.Pages "Params.parent" $.File.BaseFileName }}
    {{ if gt (len $children) 0 }}
    <div class="task-details-item">
      <div class="task-details-label">{{ i18n "ChildTasks" }}</div>
      <div class="task-details-value">
        <ul>
          {{ range $children }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="task-description">
    {{ .Content }}
  </div>
</div>

{{ partial "backlink-single.html" . }}

{{ partial "share-buttons.html" . }}
{{ end }}
