{{ define "main" }}
<section class="blog-list">
  <h2 class="section-title">{{ .Title }}</h2>
  {{ if .Site.Params.blog.rss }}
    <p class="rss-link"><a href="{{ .RelPermalink }}index.xml">RSS</a></p>
  {{ end }}
  <div class="blog-items">
    {{ range .Pages }}
      <div class="card">
        {{ with index .Params.tags 0 }}
          <div class="label">{{ . }}</div>
        {{ end }}
        {{ if $.Site.Params.blog.showDates }}
          <span class="date">{{ .Date.Format "2006-01-02" }}</span>
        {{ end }}
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <div class="desc">{{ .Summary }}</div>
        <div class="author">
          <span class="author-icon"></span>{{ with .Params.author }}{{ . }}{{ else }}{{ $.Site.Params.author }}{{ end }}
        </div>
        <a class="read-more" href="{{ .RelPermalink }}">{{ i18n "ReadMore" }}</a>
      </div>
    {{ end }}
  </div>
</section>
<div class="back-link">
  <a href="{{ .Site.Home.Permalink }}">&larr; {{ i18n "Back" }}</a>
</div>
{{ end }}
