{{ define "main" }}
<section class="blog-list">
  <h2 class="section-title">{{ .Title }}</h2>
  {{ if .Site.Params.blog.rss }}
    <p class="rss-link"><a href="{{ .RelPermalink }}index.xml">RSS</a></p>
  {{ end }}
  <div class="blog-items">
    {{ range .Pages }}
      <article class="blog-item">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        {{ if $.Site.Params.blog.showDates }}
          <p class="date">{{ .Date.Format "2006-01-02" }}</p>
        {{ end }}
      </article>
    {{ end }}
  </div>
</section>
{{ end }}
