{{ define "main" }}
<article class="blog-post">
  {{ with .Params.cover }}
  <div class="post-hero">
    <img src="{{ . | relURL }}" alt="{{ $.Title }}">
  </div>
  {{ end }}
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
      {{ if and (.Site.Params.blog.showDates) (.Date) }}
        <time class="post-date">{{ i18n "Published" }}: {{ .Date.Format (i18n "dateFormat") }}</time>
      {{ end }}
      {{ if and (.Site.Params.blog.showDates) (.Lastmod) }}
        <time class="post-updated">{{ i18n "LastUpdated" }}: {{ .Lastmod.Format (i18n "dateFormat") }}</time>
      {{ end }}
    </div>
    {{ with .Params.tags }}{{ if $.Site.Params.blog.showTags }}
      <div class="post-tags">
        {{ range . }}
          <span class="tag">{{ . }}</span>
        {{ end }}
      </div>
    {{ end }}{{ end }}
    {{ partial "author-info.html" . }}
  </header>
  <div class="post-content rich-content">
    {{ .Content }}
  </div>

  {{ partial "backlink-single.html" . }}

  {{ partial "share-buttons.html" . }}
</article>
{{ end }}
