{{ define "main" }}
<article class="blog-post">
  {{ $pageImage := .Params.image }}
  {{ $heroImage := "" }}
  {{ $heroAlt := .Title }}
  {{ $imagesParam := .Params.images }}
  {{ $imageList := slice }}
  {{ with $imagesParam }}
    {{ if or (reflect.IsSlice .) (reflect.IsArray .) }}
      {{ $imageList = . }}
    {{ else }}
      {{ $imageList = slice . }}
    {{ end }}
  {{ end }}
  {{ with $imageList }}
    {{ $first := index . 0 }}
    {{ with $first }}
      {{ $heroImage = . | relURL }}
    {{ end }}
  {{ end }}
  {{ if not $heroImage }}
    {{ with $pageImage }}
      {{ if (isString .) }}
        {{ $heroImage = . | relURL }}
      {{ else }}
        {{ with .src | default .image }}
          {{ $heroImage = . | relURL }}
        {{ end }}
        {{ with .alt }}
          {{ $heroAlt = . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ else if and $pageImage (not (isString $pageImage)) }}
    {{ with $pageImage.alt }}
      {{ $heroAlt = . }}
    {{ end }}
  {{ end }}
  {{ if $heroImage }}
  <div class="post-hero">
    <img src="{{ $heroImage }}" alt="{{ $heroAlt }}">
  </div>
  {{ end }}
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
      {{ if and (.Site.Params.blog.showDates) (.Date) }}
        <time class="post-date">{{ i18n "Published" }}: {{ .Date.Format (i18n "dateFormat") }}</time>
      {{ end }}
      {{ if and (.Site.Params.blog.showDates) (.Lastmod) }}
        <time class="post-updated">{{ i18n "LastUpdated" }}: {{ .Lastmod.Format (i18n "dateFormat") }}</time>
      {{ end }}
    </div>
    {{ with .Params.tags }}{{ if $.Site.Params.blog.showTags }}
      <div class="post-tags">
        {{ range . }}
          <span class="tag">{{ . }}</span>
        {{ end }}
      </div>
    {{ end }}{{ end }}
    {{ partial "author-info.html" . }}
  </header>
  <div class="post-content rich-content">
    {{ .Content }}
  </div>

  {{ partial "backlink-single.html" . }}

  {{ partial "share-buttons.html" . }}
</article>
{{ end }}
