<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=deice-width, initial-scale=1">
		<title>{{ .Title }} | Project</title>
		<!-- Favicon -->
		<link rel="icon" href="/favicon.ico">
		<!-- Frappe Gantt -->
		<link rel="stylesheet" href="https://unpkg.com/frappe-gantt/dist/frappe-gantt.css">
		<!-- Custum CSS -->
		<link rel="stylesheet" href="/css/styles.css">
		<!-- Frappe Gantt JS -->
		<script src="https://unpkg.com/frappe-gantt/dist/frappe-gantt.min.js" defer></script>
        </head>
	<body>
		<header class="site-header">
			<div class="container header-inner">
				<h1 class="logo"><a href="/projects/">ProjectBorad</a></h1>
				<nav class="main-nav">
					<ul>
						<li><a href="/projects/">Projects</a></li>
						<li><a href="/about/">Abount</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<main class="site-main container">
			{{ block "main" . }}{{ end }}
		</main>

		<footer class="site-footer">
			<div class="container">
				<p>&copy; 2025 ProjectBoard. Made with</p>
			</div>
		</footer>
	</body>
</html>
