<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "ja" }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

	<!-- Favicon -->
        <link rel="icon" href="{{ "favicon.ico" | relURL }}">

	<!-- Frappe Gantt -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/frappe-gantt@0.6.1/dist/frappe-gantt.css">
        <!-- Frappe Gantt JS -->
        <script src="https://cdn.jsdelivr.net/npm/frappe-gantt@0.6.1/dist/frappe-gantt.min.js"></script>

	<!-- Static CSS（static/ 配下にある場合） -->
	<link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/search.css" | relURL }}">

</head>

<body>
	<header class="site-header">
		<div class="container header-inner">
			<h1 class="logo"><a href="{{ "" | absURL }}">{{ .Site.Title }}</a></h1>
                <nav class="main-nav">
                        <ul>
                                {{ range .Site.Menus.main }}
                                {{ if eq .Identifier "home" }}
                                <li>
                                        <select id="lang-switcher" onchange="location.href=this.value">
                                                {{ range $.Site.Home.AllTranslations }}
                                                <option value="{{ .RelPermalink }}" {{ if eq .Lang $.Site.Language.Lang }}selected{{ end }}>{{ .Language.LanguageName }}</option>
                                                {{ end }}
                                        </select>
                                </li>
                                {{ else }}
                                <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                                {{ end }}
                                {{ end }}
                                <li id="today-date"></li>
                        </ul>
                </nav>
		</div>
	</header>

	<main class="site-main container">
		{{ block "main" . }}{{ end }}
	</main>

	<script src="{{ "js/today-jst.js" | relURL }}" defer></script>

	<footer class="site-footer">
		<div class="container">
			<p>&copy; 2025 ProjectBoard. Made with</p>
		</div>
	</footer>

</body>

</html>
