{{ $title := cond .IsHome .Site.Title (printf "%s | %s" .Title .Site.Title) }}
{{ $description := "" }}
{{ $keywords := .Site.Params.keywords }}

{{ with .Params.tags }}
  {{ $keywords = . }}
{{ end }}

{{ if .Params.description }}
  {{ $description = .Params.description }}
{{ else if eq .Section "projects" }}
  {{ with .Parent.Params.description }}
    {{ $description = . }}
  {{ end }}
{{ end }}

{{ $description = $description | default .Site.Params.description }}
{{ $type := cond (or .IsHome .IsSection) "website" "article" }}
{{ $url := .Permalink }}
{{ $imageParam := .Site.Params.opengraph.image | default (.Site.Params.twitter_cards.image | default .Site.Params.profile_image) }}
{{ $image := "" }}
{{ $imagesParam := .Params.images }}
{{ $imageList := slice }}
{{ with $imagesParam }}
  {{ if or (reflect.IsSlice .) (reflect.IsArray .) }}
    {{ $imageList = . }}
  {{ else }}
    {{ $imageList = slice . }}
  {{ end }}
{{ end }}
{{ with $imageList }}
  {{ $image = (index . 0) | absURL }}
{{ else }}
  {{ $pageImage := .Params.image }}
  {{ with $pageImage }}
    {{ if (isString .) }}
      {{ $image = . | absURL }}
    {{ else }}
      {{ with .src | default .image }}
        {{ $image = . | absURL }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ $mdImg := findRE `!\[[^\]]*\]\(([^)]+)\)` .RawContent }}
    {{ if gt (len $mdImg) 0 }}
      {{ $image = replaceRE `!\[[^\]]*\]\(([^)]+)\)` "$1" (index $mdImg 0) | absURL }}
    {{ else }}
      {{ $htmlImg := findRE `<img.*?src="([^"]+)"` .Content }}
      {{ if gt (len $htmlImg) 0 }}
        {{ $image = replaceRE `<img.*?src="([^"]+)".*` "$1" (index $htmlImg 0) | absURL }}
      {{ else }}
        {{ if $imageParam }}
          {{ $image = printf "img/%s" $imageParam | absURL }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if .Site.Params.opengraph.enable }}
  {{ if $title }}<meta property="og:title" content="{{ $title }}">{{ end }}
  {{ if $description }}<meta property="og:description" content="{{ $description }}">{{ end }}
  <meta property="og:url" content="{{ $url }}">
  {{ if $type }}<meta property="og:type" content="{{ $type }}">{{ end }}
  {{ if $image }}<meta property="og:image" content="{{ $image }}">{{ end }}
{{ end }}

{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
{{ with $keywords }}<meta name="keywords" content="{{ delimit . ", " }}">{{ end }}

{{ if .Site.Params.twitter_cards.enable }}
  <meta name="twitter:card" content="summary_large_image">
  {{ with .Site.Params.twitter_cards.site }}<meta name="twitter:site" content="{{ . }}">{{ end }}
  {{ if $title }}<meta name="twitter:title" content="{{ $title }}">{{ end }}
  {{ if $description }}<meta name="twitter:description" content="{{ $description }}">{{ end }}
  {{ if $image }}<meta name="twitter:image" content="{{ $image }}">{{ end }}
{{ end }}
