{{ $title := cond .IsHome .Site.Title (printf "%s | %s" .Title .Site.Title) }}
{{ $description := .Params.description | default .Site.Params.description }}
{{ $type := cond (or .IsHome .IsSection) "website" "article" }}
{{ $url := .Permalink }}
{{ $imageParam := .Site.Params.opengraph.image | default (.Site.Params.twitter_cards.image | default .Site.Params.profile_image) }}
{{ $image := "" }}
{{ with .Params.images }}
  {{ $image = (index . 0) | absURL }}
{{ else }}
  {{ if $imageParam }}
    {{ $image = printf "img/%s" $imageParam | absURL }}
  {{ end }}
{{ end }}

{{ if .Site.Params.opengraph.enable }}
  {{ if $title }}<meta property="og:title" content="{{ $title }}">{{ end }}
  {{ if $description }}<meta property="og:description" content="{{ $description }}">{{ end }}
  <meta property="og:url" content="{{ $url }}">
  {{ if $type }}<meta property="og:type" content="{{ $type }}">{{ end }}
  {{ if $image }}<meta property="og:image" content="{{ $image }}">{{ end }}
{{ end }}

{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
{{ with .Site.Params.keywords }}<meta name="keywords" content="{{ delimit . ", " }}">{{ end }}

{{ if .Site.Params.twitter_cards.enable }}
  <meta name="twitter:card" content="summary_large_image">
  {{ with .Site.Params.twitter_cards.site }}<meta name="twitter:site" content="{{ . }}">{{ end }}
  {{ if $title }}<meta name="twitter:title" content="{{ $title }}">{{ end }}
  {{ if $description }}<meta name="twitter:description" content="{{ $description }}">{{ end }}
  {{ if $image }}<meta name="twitter:image" content="{{ $image }}">{{ end }}
{{ end }}
