<div id="gantt"></div>
<script>
        document.addEventListener("DOMContentLoaded", function () {
			const tasks = [
					{{- range $i, $t := .Page.Pages -}}
					{
							id: "{{ $t.File.BaseFileName }}",
								name: "{{ $t.Params.title }}",
								start: "{{ $t.Params.start }}",
								end: "{{ $t.Params.end }}",
								progress: {{ if eq $t.Params.status "comp" }}100{{ else if eq $t.Params.status "go" }}50{{ else }}0{{ end }},
                        custom_class: "status-{{ if eq $t.Params.status "comp" }}completed{{ else if eq $t.Params.status "go" }}in-progress{{ else }}not-started{{ end }} priority-{{ lower $t.Params.priority }}"
						}{{ if lt (add $i 1) (len .Page.Pages) }}, {{ end }}
					{{- end}}
					];
			new Gantt(
					document.getElementById('gantt'),
					tasks,
					{ view_mode: 'Day', date_format: 'YYYY-MM-DD' }
					);
		});
</script>
