<section class="projects-list">
    <h2 class="section-title">projectList</h2>
    <div class="card-grid">
        {{ range (site.GetPage "section" "projects").Pages }}
        {{ $start := "" }}
        {{ $end := "" }}
        {{ range .Pages }}
            {{ if .Params.start }}
                {{ if not $start }}
                    {{ $start = .Params.start }}
                {{ else if lt (time .Params.start) (time $start) }}
                    {{ $start = .Params.start }}
                {{ end }}
            {{ end }}
            {{ if .Params.end }}
                {{ if not $end }}
                    {{ $end = .Params.end }}
                {{ else if gt (time .Params.end) (time $end) }}
                    {{ $end = .Params.end }}
                {{ end }}
            {{ end }}
        {{ end }}
        <div class="card">
            <div class="card-body">
                <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                <p class="project-dates">{{ $start }} - {{ $end }}</p>
                {{ partial "task-count.html" . }}
                {{< gantt >}}
            </div>
        </div>
        {{ end }}
    </div>
</section>
