{{ $social := .Site.Params.social }}
{{ $icons := where .Site.Data.social.social_icons "id" "in" (keys $social) }}
{{ if gt (len $icons) 0 }}
<div class="social-icons">
  {{ range $icons }}
    {{ $handle := index $social .id }}
    {{ $url := cond (or (hasPrefix $handle "http://") (hasPrefix $handle "https://")) $handle (printf .url $handle) }}
    <a href="{{ $url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .id }}">
      <img src="{{ printf "icons/%s.svg" .id | relURL }}" alt="{{ .id }} icon" class="icon">
    </a>
  {{ end }}
</div>
{{ end }}
