{{ $social := .Site.Params.social }}
{{ $links := slice }}
{{ range .Site.Data.social.social_icons }}
  {{ $handle := index $social .id }}
  {{ if $handle }}
    {{ $url := cond (or (hasPrefix $handle "http://") (hasPrefix $handle "https://")) $handle (printf .url $handle) }}
    {{ $links = $links | append (dict "key" .id "url" $url) }}
  {{ end }}
{{ end }}
{{ if gt (len $links) 0 }}
<div class="social-icons">
  {{ range $links }}
    <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .key }}">
      <img src="{{ printf "icons/%s.svg" .key | relURL }}" alt="{{ .key }} icon" class="icon">
    </a>
  {{ end }}
</div>
{{ end }}
